<div class='participants col-md-12'>
  <ul class="chat list-unstyled list-inline">
  {{#each participants as |participant| }}
    <li class="left clearfix">
      <span class="chat-img pull-left">
        <img src="http://placehold.it/50/55C1E7/fff&text={{participant.initials}}" alt="User Avatar" class="img-circle" />
        {{ participant.fullName}}
       </span>
    </li>
    <li class="left clearfix">
      <span class="chat-img pull-left">
        <img src="http://placehold.it/52/98fb98/ffffff&text=PS" alt="User Avatar" class="img-circle" />
        Pauline Simmons
       </span>
    </li>
  {{/each}}
  </ul>
</div> 

{{yield}}
