<div class='thread'>
  <ol class='list-unstyled conversation'>
    <li class='self'>
      <div class='message'>
        <p>Talkie talk talk.Talkie talk talk Talkie talk talk Talkie talk talk</p>
        <span class='help-block'>
          <time datetime='2009-11-13T20:00'>Drew • 51 min</time>
        </span>
      </div>
      <div class='avatar'>
          <img src='http://placehold.it/50/55C1E7/fff&text=DP' class="img-circle" />
        </div>
    </li>
    <li class='other'>
      <div class='avatar'>
          <img src='http://placehold.it/50/98fb98/ffffff&text=PS' class="img-circle" />
        </div>
      <div class='message'>
        <p>Talkie talk talk.</p>
        <span class='help-block'>
          <time datetime='2009-11-13T20:00'>Pauline • 51 min</time>
        </span>
      </div>
    </li>
  </ol>
</div>
{{yield}}
