<div class='form-group'>
  {{textarea value=model.body class='form-control' rows='4' id='message-text' placeholder='Write your message..'}}
</div>
<button class='btn btn-primary'{{action "send"}}>{{fa-icon 'paper-plane' }}   Send</button>
{{yield}}
