<ul class='list-inline'>
  {{#each model.parentingGroup.users as |user|}}
    <li>
      <button {{action 'addUserToThread' user model}}>
        {{user.fullName}}
      </button>
    </li>
  {{/each}}
</ul>
