<div class='col-md-12'>
  <div class='input-group'>
    <div class='form-group'>
      <label>Conversation Code</label>
      {{input value=model.code class='form-control' placeholder='code'}}
    </div>
    <div class='form-group'>
      <label>Password</label>
      {{input value=model.password class='form-control' placeholder='Password'}}
      <span class='help-block'>Leave blank to leave the password unchanged.</span>
    </div>
    <button class='btn btn-primary' {{action 'save' model}}>Update</button>
  </div>
</div>
{{outlet}}
