.user-cards{
  display: flex;
  flex-wrap: wrap;
}

.user-card{
    flex: 1 0 25%;
    margin: 3%;
    .user-card-header{
      background-color: $gray-blue-color;
      .user-avatar{
        margin: 0 auto;
      }
    }
  .user-card-body{
    text-align: center;
  }
}
