$primary: 'blue-grey';
@import 'ember-paper';
$background-color: #EFF7FF; //Aliceblue
$secondary-color: #BEC5CB; //Light Gray
$primary-color: #607d8b; //Gray Blue
$accent-color: #A2D0FE; //Pale Cornflower Blue
$gray-blue-color: #375673; //Darker Gray Blue
