@import 'ember-paper';

.paper-right{
  margin-left: auto;
}
/*login*/
.home-card{
  max-height: 400px;
  max-width: 400px;
  float: left;
  margin-left: 20px;
}
/* Conversation */
.chat-panel{
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  min-height: 75px
}
.chat-panel .participants{
  padding-bottom: 2%;
}
.messages-region{
  border: 1px solid #e7e7e7;
  background: #eeeeee;
}
.thread{
  float: right;
  padding: 20px;
  height: 450px;
  width: 70%;
  display: inline-block;
  margin-bottom: 0px;
  overflow: scroll;
  background-color: aliceblue;
}

/*Messages*/
.conversation li {
  display: flex;
  margin-bottom: 10px;
}
.avatar img {
  width: 80%;
  display: block;
  margin: 2px;
}

.self .avatar img {
  float: right;
}
.other .avatar img {
  float: left;
}

.self .avatar:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px rgba(black, 0.2);
}

.other .avatar:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.conversation .self {
  justify-content: flex-end;
}
.message .help-block{
  font-size: 70%
}
.self .message{
    margin-left: auto;
  }
.message {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(black, 0.2);
  margin: 5px;
}
.send-btn{
  margin-bottom:20px
}

.convo-menu{
  width: 20%;
  float:left;
  background-color: aliceblue;
}
.new-message{
  clear: both;
  width: 70%;
  float: right;
  margin-top: 0px;
  background-color: ivory;
}
