// $base-background-color: yellow;

@import 'ember-paper';

.paper-right{
  margin-left: auto;
}

/*auth*/
.primary-auth-card{
  width: 50%;
  margin: 0 auto;
  background-color: #f7f7f7;
}

#logo{
  width: 70px;
  margin: 0 auto;
}

.secondary-auth-card{
  width: 50%;
  margin: 0 auto;
  background-color: aliceblue;
  text-align: center;
}

.login-register-header{
  text-align: center;
}

.home-card{
  max-height: 400px;
  width: 300px;
  max-width: 350px;
  float: left;
  margin-left: 40px;
  .group-members{
    padding-left: 0px;
    float: right;
  }
}
.new-pg{
  margin-top: 20px;
  margin-right: 30px;
}

/* Notifications */

.notifiction-center {
  display: block;
  position: fixed;
  z-index: 10000;
  .notification {
    top: 35px;
    opacity: 0.5;
    transition: margin-top 375ms, top 300ms, opacity 300ms;
    &.active {
      top: 0;
      opacity: 1
    }
    &.exiting {
      opacity: 0;
      margin-top: -40px;
    }
  }
}

/* Conversation */
.chat-panel{
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  min-height: 75px
}
.chat-panel .participants{
  padding-bottom: 2%;
}
.messages-region{
  border: 1px solid #e7e7e7;
  background: #eeeeee;
}
.thread{
  float: right;
  padding: 20px;
  height: 450px;
  width: 70%;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: scroll;
  background-color: aliceblue;
}

/*Chat & Messages Body*/
.conversation li {
  display: flex;
  margin-bottom: 10px;
}
.avatar img {
  width: 80%;
  display: block;
  margin: 2px;
}

.self .avatar img {
  float: right;
}
.other .avatar img {
  float: left;
}

.self .avatar:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px rgba(black, 0.2);
}

.other .avatar:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.conversation .self {
  justify-content: flex-end;
}
.message .help-block{
  font-size: 70%
}
.self .message{
    margin-left: auto;
  }
.message {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(black, 0.2);
  margin: 5px;
}
.send-btn{
  margin-bottom:20px
}

.convo-menu{
  width: 20%;
  float:left;
  background-color: aliceblue;
}
.new-message{
  clear: both;
  width: 70%;
  float: right;
  margin-top: 0px;
  background-color: ivory;
}

// Chat Header
.recipients{
  width: 70%;
  float: right;
  background-color: ivory;
  margin-bottom: 0px;
  min-height: 70px;
  #member{
    display: inline;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 5px;
    float: left;
    border-radius: 12px;
    border: 1px solid #3f51b5;
    color: #3f51b5;
    &:hover {
      color: white;
      background-color: #3f51b5;
    }
  }
}

#member{
    display: inline;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
    border-radius: 12px;
    border: 1px solid black;
    color: black;
    font-size: 13px;
    &:hover {
      color: white;
      background-color: black;
    }
  }

// Parenting Group Cards
.card-body{
  background-color: aliceblue;
  min-height: 100px;
}
.pg-header{
  text-align: center;
  button{
    background-color: #b3b3b3;
    margin:0px !important;
  }
}
.md-actions{
  background-color: #CFE3E8;
}

.thread .no-messages{
  min-height: 300px;
  text-align: center;
  opacity: 0.2;
  filter: alpha(opacity=20);
  img{
    width: 300px;
  }
}

//Notificaitons
.notification{
  width: 70%;
  margin: 0 auto;
  &.active{
    .md-toolbar-tools{
      background-color: green;
    }
    &.danger{
      .md-toolbar-tools{
        background-color: red;
      }
    }
  }
}

// Search Fallback
.no-results{
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding: 30px;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
}

// User Avatar
.avatar-circle-sm {
    width: 40px;
    height: 40px;
    background-color: darkcyan;
    text-align: center;
    border-radius: 50%;
    margin-right: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    .initials {
      position: relative;
      top: 4px;
      font-size: 18px;
      line-height: 20px;
      color: #fff;
    }
}

.avatar-circle-md {
    width: 45px;
    height: 45px;
    background-color: darkcyan;
    text-align: center;
    border-radius: 50%;
    margin-right: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    .initials {
      position: relative;
      top: 13px;
      font-size: 20px;
      line-height: 20px;
      color: #fff;
    }
}

//.avatar-circle-md   { @include avatar(60px); }
//.avatar-circle-sm   { @include avatar(30px); }
//.avatar-circle-lg   { @include avatar(250px); }


