/*Hero Image*/
.hero-text{
	margin-top: 12%;
	text-align: center;
	color: white;
}

.hero-text button{
	margin-top: 1%;
}

.hero {
  background: url('https://s3-us-west-2.amazonaws.com/two-homes/family-bg.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  width: 100%;
}
.hero .container {
  display: table-cell;
  text-align: center;
  height: 689px
}

/*login*/

.login-registration-form{
  margin-top: 18%;
  padding: 10%;
  border-radius: 10%;
  border: 1px solid #e7e7e7;
}

.login-register-header{
  text-align: center;
  margin-bottom: 8%;
  margin-top: 3%;
}

.login-registration-form button{
  margin-bottom: 5%;
  margin-top: 5%;
}

/* Conversation */
.chat-panel{
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}
.chat-panel .chat-participants{
  padding-bottom: 2%;
}
.messages-region{
  border: 1px solid #e7e7e7;
}
.messages-region .thread{
  min-height: 300px;
  display: inline-block;
  margin-bottom: 30px
}