{{#paper-card class="recipients"}}
<div layout='flex' class='md-padding'>
  <div flex=1>{{chat.message-recipients conversation=model}}</div>
  <div>{{chat.add-user-to-convo conversation=model}}</div>
</div>
{{/paper-card}}
{{outlet}}
