<form class="" onsubmit={{action "sendMessage"}}>
  <div layout='flex' class='md-padding'>
    <div flex=1>{{paper-input label='Message..' value=messageBody}}</div>
    <div>{{#paper-button disabled=isDisabled raised=true className='md-primary'}}Send{{/paper-button}}</div>
  </div>
</form>
