<div class='chat-panel col-md-10 col-md-offset-1'>
    {{chat-header conversation=model}}
    {{chat-participants participants=model.users}} 
    {{outlet}}
</div>
<div class='messages-region col-md-10 col-md-offset-1'>
  <div class='thread'>
    <ol class='conversation'>
      <li class='self'>
        <div class='message'>
          <p>Talkie talk talk.Talkie talk talk Talkie talk talk Talkie talk talk</p>
          <span class='help-block'>
            <time datetime='2009-11-13T20:00'>Drew • 51 min</time>
          </span>
        </div>
        <div class='avatar'>
            <img src='http://placehold.it/50/55C1E7/fff&text=DP' class="img-circle" />
          </div>
      </li>
      <li class='other'>
        <div class='avatar'>
            <img src='http://placehold.it/50/ff0000/ffffff&text=PS' class="img-circle" />
          </div>
        <div class='message'>
          <p>Talkie talk talk.</p>
          <span class='help-block'>
            <time datetime='2009-11-13T20:00'>Pauline • 51 min</time>
          </span>
        </div>
      </li>
    </ol>
  </div>
	<div class='form-group'>
		 <textarea class='form-control' rows='4' id='message-text'></textarea>
	</div>
	<button class='btn btn-primary'>{{fa-icon 'paper-plane' }}   Send</button>
</div>
