<h2>Join Conversation</h2>
<div class='col-md-12'>
  <div class='input-group'>
    <div class='form-group'>
      <label>Conversation Code</label>
      {{input value=joinCode class='form-control' placeholder='Code'}}
    </div>
  </div>
  <br>
    <button class='btn btn-success' {{action 'search'}}>Join</button>
</div>
{{outlet}}
