{{#paper-nav-container}}
  {{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools" {{action 'goTo' 'index'}}>
        <h1>TwoHomes</h1>
      </div>
    {{/paper-toolbar}}
  {{/paper-sidenav}}
  {{#paper-content classNames="content"}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <h1>OMG!! Ember is on FIRE!!! ...base.................................</h1>
      </div>
    {{/paper-toolbar}}
    {{outlet}}
  {{/paper-content}}
{{/paper-nav-container}}
