{{link-to '<< Back' 'parenting-groups'}}
<h1>Parenting Group {{model.id}}</h1>
<div class='col-md-2'>
   {{convo-list conversations=model.conversations }}
</div>
<div class='col-md-10'>
  {{outlet}}
</div>

