<h3>{{title}}</h3>
<ul>
  {{#each conversation.users as |participant| }}
    {{#unless (eq participant.id sessionUser.user.id)}}
      {{ member-bubble user=participant }}
    {{/unless}}
  {{/each}}
</ul>

{{yield}}
