
<div class='input-group'>
  <label>Email Address</label>
  {{input value=email}}
</div>
-or-
<div class='input-group'>
  <label>Phone Number</label>
  {{input value=phone}}
</div>
<button {{ action 'sendInvite' }}> Send Invite </button>

{{outlet}}
