{{outlet}}
{{#if session.isAuthenticated}}
<ul>
  <li>
    {{ link-to 'New Conversation' 'app.conversations.new' }}
  </li>
</ul>
<h4>My Conversations</h4>
<ul>
{{#each sessionUser.user.conversations as |convo|}}
  <li>{{link-to convo.code 'app.conversations.conversation' convo}}</li>
{{/each}}
</ul>
{{/if}}

