{{app-navbar}}
<div class='container'>
<div class='hero'>
  <div class='bg-image'>
    <div class='hero-text'>
      <h1 id="title">Co-Parenting Communication</h1>
      <h3>Divorce is hard, family communication doesn't have to be.</h3>
    </div>
  </div>
</div>




{{outlet}}
</div>
